.wrapper-testimonials .container .images {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
}

.wrapper-testimonials .container .images .card {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.wrapper-testimonials .container .images .card img {
    height: 50vh;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 300px) and (max-width: 811px) {
    .wrapper-testimonials .container .images {
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3em;
    }
    .wrapper-testimonials .container .images .card {
        padding: 1em;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1em;
    }
    .wrapper-testimonials .container .images .card img {
        height: 30vh;
        object-fit: cover;
        object-position: center;
    }
}