.title {
    height: 30vh;
    display: grid;
    place-content: center;
    color: #ccc;
}

table thead {
    position: sticky;
    top: 0;
}

table tbody tr td a svg {
    color: #3498db;
}

table tbody tr .cta .edit {
    border: 1px solid #1abc9c;
}

table tbody tr .cta .edit svg {
    color: #1abc9c;
}

table tbody tr .cta .delete {
    border: 1px solid red;
}

table tbody tr .cta .delete svg {
    color: red;
}

table tbody tr td img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}